
.spotPriceSavings--pdp{
    width: fit-content;
    background: var(--base);
    color: var(--primary);
    margin-top: 20px;
    font-weight: 700;
    font-size: 1rem;
}
/*
.currencyContainer--pdp{
    font-size: 1.7rem;
}
*/

:global(.vtex-flex-layout-0-x-flexCol--right-col) .listPrice{
    font-size: 19px;
    color: var(--light-grey);
}

@media only screen and (max-width: 600px){


}