
.closeIconContainer{
    justify-content: end;
}

.closeIcon{
    color: var(--complementOne);
}

.drawer{
    max-width: 420px !important;
}

.childrenContainer{
    width: 100% !important;
    display: contents;
}

.openIconContainer{
    align-items: center;
    display: flex;
}

.openIconContainer{
    color: var(--base);
}