

/* Header Desktop */

.logoContainer{
    padding: 0px;
}

:global(.vtex-minicart-2-x-cartIcon){
    height: 22px;
    width: 39px;
}

:global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-button__label){
    padding: 0px;
}


:global(.vtex-login-2-x-profileIcon){
    height: 18px;
    width: 22px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--desk-header-submenu) :global(.vtex-button):hover,
:global(.vtex-flex-layout-0-x-flexRowContent--desk-header-submenu) :global(.vtex-button):focus{
    background: none;
}

/* Search */ 

:global(.vtex-store-components-3-x-searchBarContainer){
    min-width: 100%;
  /*  transition: ease-in-out 0.5s;*/
}

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group){
    border: 0px;
}


.searchIcon{
    color: var(--primary);
    display: block !important;
    visibility: visible !important;
}
.searchBarInnerContainer{
    border-bottom: solid 1px #b6b6b6;
}
:global(.vtex-store-components-3-x-prefixContainer){
    display: flex !important;
    visibility: visible !important;
}
:global(.vtex-store-components-3-x-searchIcon){
    filter: brightness(0) invert(1) !important;
}

/* Overlay */

.imageElement--header-submenu{
    max-width: 150px;
}

:global(.vtex-slider-layout-0-x-sliderTrack--header-submenu){
    gap: 30px;
}

:global(.vtex-search-2-x-biggy-autocomplete-wrapper){
    position: absolute;
    z-index: +9;
    width: 100% !important;
    margin-top: 12px;
    @media screen and (max-width: 1024px){
    margin: 0px;
    }
}

.logoContainer
 :global(.vtex-input__suffix){
    background: none;
}

/* ICONS */

:global(.vtex-store-components-3-x-logoImage),
:global(.vtex-login-2-x-profileIcon),
:global(.vtex-sticky-layout-0-x-wrapper--header-desktop) :global(.vtex-login-2-x-label),
:global(.vtex-locale-switcher-0-x-globeIcon),
:global(.vtex-locale-switcher-0-x-buttonText),
:global(.vtex-store-drawer-0-x-menuIcon--menu){
    filter: brightness(0) invert(1) !important;
}

:global(.vtex-locale-switcher-0-x-buttonText){
    font-size: 20px;
}

/* Drawer */


:global(.vtex-store-drawer-0-x-drawer--menu) :global(.vtex-store-components-3-x-logoImage){
    filter: none !important;
}
  

@media only screen and (max-width: 1024px){


:global(.vtex-store-components-3-x-logoContainer){
    padding: 0px;
}

:global(.vtex-store-components-3-x-searchBarContainer){
    padding: 5px 0px;
}


}

