
:global(.vtex-flex-layout-0-x-flexRow--product-price) .currencyContainer{
    font-size: 1.2rem;
    font-weight: 700;
    @media only screen and (max-width: 600px){
        font-size: 0.8rem;
    } 
}

.sellingPrice{
    color: var(--primary);
    font-weight: 700;
    @media only screen and (max-width: 600px){
        font-size: 0.6rem;
    } 
}


:global(.vtex-flex-layout-0-x-flexRow--shelf-home) :global(.vtex-flex-layout-0-x-flexRow--product-price) .currencyContainer{
    font-weight: 700;
}

.spotPrice--shelf{
    color: var(--primary);
    font-weight: 700;
}

.listPrice{
    color: #858585;
}

